.heroPage {
	position: relative;
	background-color: $mainColor;
}

.heroPage-content {
	margin-bottom: 10%;
}

.heroPage-logo {
	height: 10rem;
	width: 10rem;
	fill: $white;
}

.heroPage-salutation {
	color: $white;
	margin-top: 0.5rem;

	strong {
		font-weight: 500;
	}
}
