.u-flex {
	display: flex;
}

.u-centerXY {
	align-items: center;
	justify-content: center;
}

.u-centerX {
	justify-content: center;
}

.u-pullLeft {
	justify-content: flex-start;
}

.u-pullRight {
	justify-content: flex-end;
}

.u-centerY {
	align-items: center;
}

.u-pullDown {
	align-items: flex-end;
}

.u-column {
	flex-direction: column;

	&.u-centerX {
		align-items: center;
	}

	&.u-centerY {
		justify-content: center;
	}

	&.u-pullRight {
		align-items: flex-end;
	}

	&.u-pullLeft {
		align-items: flex-start;
	}
}

.u-fillRemaining {
	flex: 1;
}

.u-wrap {
	flex-wrap: wrap;
}

.u-maxX {
	width: 100%;
}

.u-maxY {
	height: 100%;
}

.u-maxXY {
	height: 100%;
	width: 100%;
}
